h1{
    border: solid #9ec5e0;
    background-color: black;
    text-align: center;
    margin-bottom: 10%;
  
}

hr {border-top: 1px solid #000; width:50%;}

a {color: #000;}

a:link{text-decoration:none;}

.box1{background: rgb(76, 175, 80, 0.6);}
.box2{background: rgb(192, 192, 200, 0.6);}
.box3{background: rgb(255, 0, 0, 0.6);;}



#author a{
  color: #fff;
  text-decoration: none;
    
}

.enquires{
background-color: lightblue;
}

.card1{
    border-radius: 10%;
    padding: 30px;
    margin-bottom: 10%;
    width: auto;
     height: auto;
     background-color: #9ec5e0;
}

.card2{
    border-radius: 10%;
    padding: 30px;
    margin-bottom: 10%;
    width: auto;
     height: auto;
     background-color: #9ec5e0;
}

.card3{
    border-radius: 10%;
    padding: 30px;
    margin-bottom: 10%;
    width: auto;
     height: auto;
     background-color: #9ec5e0;
}

.card4{
    border-radius: 10%;
    padding: 30px;
    margin-bottom: 10%;
    width: auto;
     height: auto;
     background-color: #9ec5e0;
}

#enquires1{
    background-color: #9ec5e0;
    width: 50%;
    margin-bottom: 10%;
}

#contact{
    margin-bottom: 10%;
}
